<footer>
    <div id="left">
        <div>
            <p>© Abhishek Garg. All Rights Reserved</p>
        </div>
        <div>
            <a href="/">Home</a>
            <%if(locals.user) { %>
                <a href="/users/profile/<%= user.id %>">Profile</a>
            <% } else { %>
                <a href="/users/sign-in">Sign In</a>
            <% } %>
        </div>
    </div>
    <div id="right"></div>
</footer>