<h1>Codeial / Home Page</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="4" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>