<h1>Reset Password</h1>

<% if(access) { %>
    <form action="/users/update-password/<%= accessToken %>" method="POST">
        <label for="newPass">New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" id="newPass" name="newPass" required>
        <br>
        <label for="confirmPass">Confirm New Password:</label>
        <input type="password" id="confirmPass" name="confirmPass" required>
        <input type="submit" value="Confirm">
    </form>
<% } else { %>
    <p>Enter registered mail address:</p>
    <form action="/users/send-reset-pass-mail" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="submit" value="Submit">
    </form>
<% } %>



