#home-container
{
    display: flex;

    #feed-posts
    {
        width: 80%;
        padding: 10px;
    }
    #user-friends
    {
        width: 20%;
        padding: 10px;
        border-left: 1px solid lightgrey;
    }
}