<div>
    <p>Hi <%= user.name %>,</p>
    <p>DO NOT SHARE THIS LINK WITH ANYONE</p>
    <p>Use this link to reset password of your Codeial account. <a href="http://abhishekgarg.me/users/reset-password/<%= user.accessToken %>">Click here!</a></p>
    <p>Or paste the given link in your browser: http://abhishekgarg.me/users/reset-password/<%= user.accessToken %></p>
    <p>Thanks!</p>
</div>

