<div>
    <p>Hi <%= comment.post.user.name %>,</p>
    <p><strong><%= comment.user.name %></strong> commented on your post on Codeial. Visit <a href="www.abhishekgarg.me">Codeial</a> now.</p>
    <p>Thanks!</p>
</div>