<div>
    <p>Hi <%= comment.user.name %>,</p>
    <p>Your comment <strong><%= comment.content %></strong> has been published on Codeial. Visit <a href="www.abhishekgarg.tech">Codeial</a> now.</p>
    <p>Thanks!</p>
</div>