header {
  background-color: dodgerblue;
  position: fixed;
  color: white;
  height: 2.5vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header a {
    color: white;
    text-decoration: none; }
  header #left {
    margin-left: 0.5vw;
    font-weight: bold;
    font-size: 1.9vw; }
  header #right {
    margin-right: 0.5vw;
    font-size: 1.4vw; }
