#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 80%;
    padding: 10px; }
  #home-container #user-friends {
    width: 20%;
    padding: 10px;
    border-left: 1px solid lightgrey; }
